<connectionStrings>
    <remove name="localSqlServer" />
    <add name="localSqlServer" connectionString="Data Source=.;Initial Catalog=mbunitDB;User ID=?;Password=?"
          providerName="System.Data.SqlClient" />
    <add name="MbUnitDb" connectionString="Data Source=.;Initial Catalog=mbunitDB;User ID=?;Password=?"
          providerName="System.Data.SqlClient" />
</connectionStrings>