<connectionStrings>
  <remove name="LocalSqlServer"/>
  <add name="LocalSqlServer" 
       connectionString="Data Source=.;Initial Catalog=mbunitDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  
  <add name="MbUnitDb" 
       connectionString="Data Source=.;Initial Catalog=mbunitDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
