<connectionStrings>
  <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" 
         connectionString="Data Source=localhost;Initial Catalog=gallioDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  
  <add name="GallioDb" 
       connectionString="Data Source=localhost;Initial Catalog=gallioDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>